<phpunit bootstrap="bootstrap.php" printerClass="\ryunosuke\PHPUnit\Printer\ProgressPrinter">
    <testsuites>
        <testsuite name="tests">
            <directory>./Test/</directory>
        </testsuite>
    </testsuites>

    <php>
        <!--> specify test target dbms <-->
        <!--> <const name="RDBMS" value="sqlite,mysql,pgsql,mssql"/> <-->
        <const name="RDBMS" value="sqlite"/>

        <const name="SQLITE_URL" value="sqlite://root:Password1234@localhost:11111/:memory:"/>
        <const name="MYSQL_URL" value="mysql://root:Password1234@localhost:13306/dbml"/>
        <const name="PGSQL_URL" value="pgsql://root:Password1234@localhost:15432/dbml"/>
        <const name="MSSQL_URL" value="msql://sa:Password1234@localhost:11433/dbml"/>
    </php>

    <coverage>
        <include>
            <directory suffix=".php">../src/dbml</directory>
        </include>
    </coverage>
</phpunit>
