<phpunit bootstrap="bootstrap.php" printerClass="\ryunosuke\PHPUnit\Printer\ProgressPrinter">
    <testsuites>
        <testsuite name="tests">
            <directory>./Test/</directory>
        </testsuite>
    </testsuites>

    <php>
        <!--> specify test target dbms <-->
        <!--> <const name="RDBMS" value="sqlite,mysql,pgsql,mssql"/> <-->
        <const name="RDBMS" value="sqlite"/>

        <const name="SQLITE_URL" value="sqlite://user:pass@localhost:1234/:memory:"/>
        <const name="SQLITE_INITCOMMAND" value="PRAGMA foreign_keys = ON"/>

        <const name="MYSQL_URL" value="mysql://user:pass@localhost:3306/test_dbml?charset=utf8"/>
        <const name="MYSQL_INITCOMMAND" value=""/>

        <const name="PGSQL_URL" value="pgsql://user:pass@localhost:5432/test_dbml?charset=utf8"/>
        <const name="PGSQL_INITCOMMAND" value=""/>

        <const name="MSSQL_URL" value="mssql://user:pass@localhost:1433/test_dbml?charset=utf8"/>
        <const name="MSSQL_INITCOMMAND" value=""/>
    </php>

    <coverage>
        <include>
            <directory suffix=".php">../src/dbml</directory>
        </include>
    </coverage>
</phpunit>
